.btn-blue {
	background-color: #79A5B7;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	color: white;
}

.btn-bluee {
	background-color: #79A5B7;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

a.btn-bluee {
	display:block;
	width:240px;
	margin:0 auto;
}


a:hover {
	background-color: #FEA42E;
	color: white;
	transition: background-color 0.5s ease;
}